body {
    background-color: #C0C0C0;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-inverse {
    background-color:#2C4C82;
    color: #efefef;
}
.navbar-inverse .navbar-nav > li > a {
    color: #999999;
}
.navbar-inverse .navbar-toggle {
    background-color: #2C4C82;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #efefef;
}
.dropdown-menu .divider {
    height: 2px;
    color: white;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.form-control {
    background-color: #DFDFDF;
}
.col-sm-2 {
    padding: 5px;
}
.img-responsive detail {
    max-height: 200px;
    max-width: 200px;
}
.img-responsive index {
    max-height: 100px;
    max-width: 100px;
}
.thumbnail {
    background-color: #DFDFDF;
    margin-bottom: 15px;
}
dt {
    font-weight: normal;
    max-width: 120px;
}
dd {
    font-weight: bold;
}
@media (min-width: 768px) {
    .dl-horizontal dd {
        margin-left: 135px; 
    }
}
.form-group {
    margin-bottom: 5px;
}
.alert {
    color: red;
}