<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = PageData["ID"] }) |
    @Html.ActionLink("Delete", "Delete", new { id = PageData["ID"] }) |
    @Html.ActionLink("Back to List", "Index")
</p>
